body {background: linear-gradient(to top, #000000 0%,#8d8d8d  100%);}

/* NAV BAR */
.topnav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom, #e6e3e3 0%,#9b9b9b  100%);
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
    font-size: 18px;
  }

  .topnav a:hover {
    background: linear-gradient(to bottom, #faeea6 0%,#f7de4d  100%);
    color:#780000;
    font-weight: bold;}

    .Pics {height: 335px;
      padding: 16px;
      margin: 40px;
      display: flex;
      justify-content: space-between;}
    .authorPic {border: 8px solid #000000;}

    .bio {font-family: Georgia, 'Times New Roman', Times, serif;
          font-size: large;
          color: #faeea6;
          text-shadow: 0px 0px 4px #f7de4d;
          margin-top: 30px;
          margin-bottom: 75px;}

    
    footer {color:#000000;
      background: linear-gradient(to bottom, #e6e3e3 0%,#9b9b9b  100%);
      padding: 1px;}

      .Creds {height: 0px;
        padding: 10px;
        margin: 8px;
        display: flex;
        align-items: center;
        justify-content: center;}

      .Socials {height: 0px;
        padding: 10px;
        margin-top: 16px;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;}